# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
ENV/
env/

# VS Code
.vscode/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# PyInstaller
*.spec
dist/
build/

# Test outputs / logs
*.log
.cache/

# Notebook checkpoints
.ipynb_checkpoints/

# Misc
*.swp
*.tmp
*.bak
